<div{{ content['#attrs'].addClass('basic-node') }}>
  <div class="top-banner clearfix">
    {{ field_render([content.image_header, 'img-header']) }}
  </div>
  <div class="container">

    {{ field_render([content.page_name, 'page-name', 'h2']) }}

    {{ field_render([content.node_title, 'node-title', 'h2']) }}

    {{ field_render([content.body, 'node-body']) }}

    </div>
  </div>
</div>
