<div{{ content['#attrs'].addClass('accordion-item') }}>
  <div class="header">
    <a class="collapsed" data-toggle="collapse" href="#tab-id-{{ content['#tab_id'] }}">
      {{ content.header }}
    </a>
  </div>
  <div class="body collapse" id="tab-id-{{ content['#tab_id'] }}">
    {{ field_render([content.left_side, 'left']) }}
    <div class="body-content">
      {{ content.body }}
    </div>
    {{ field_render([content.nested_accordion, 'nested-accordion']) }}
  </div>
</div>
