{#
/**
 * @file
 * Template for a 4-up (1 row of 4 columns) layout.
 */
#}
<div {{ content['#attrs'].addClass('layout-4up clearfix') }} >
  <div class="region-top">
    {{ content.top }}
  </div>
  <div class="rows container">
    <div class="row-1 row">
      {{ field_render([content.oneone, 'col col-1 col-sm-3']) }}
      {{ field_render([content.onetwo, 'col col-2 col-sm-3']) }}
      {{ field_render([content.onethree, 'col col-3 col-sm-3']) }}
      {{ field_render([content.onefour, 'col col-4 col-sm-3']) }}
    </div>
  </div>
  <div class="region-bottom">
    {{ content.bottom }}
  </div>
</div>
