<div class="sitewide">
  <div class="region-top">
    {{ content.top }}
  </div>
  <div class="container-fluid region-under-top">
    <div class="row">
      <div class="content-left 3 col-sm-3 col hidden-xs">
        {{ content.under_top_left }}
      </div>
      <div class="content-right col-sm-9">
        {{ content.under_top_right }}
      </div>
    </div>
  </div>
  <div class="region-main">
    {{ content.main }}
  </div>
  <div class="region-bottom">
    {{ content.bottom }}
  </div>
</div>
