<div id="panel-eln" class="pmmi-panel">
  <div class="page-wrapper">
    <div class="header-wrapper">
      <header class="navbar navbar-default container" id="panel-header" role="banner">
        <div class="navbar-header">
          <div class="logo">
            {{ content.header_logo }}
          </div>
          <div class="header-region">
            <div class="main-nav">
              {{ content.header_main_nav }}
            </div>
          </div>
        </div>
      </header>
    </div>
    <div class="main-container" role="main">
      <div class="container topbar" role="heading">
        {{ content.topbar }}
      </div>
      <section>
        {{ content.main }}
      </section>
    </div>
  </div>
</div>
<footer class="footer" role="contentinfo">
  <div class="footer-inner container">
    {{ content.footer }}
  </div>
</footer>
