<div class="block-event-default">

  {{ field_render([content.dates, 'date']) }}

  {{ field_render([content.head, 'title', 'h2']) }}

  {{ field_render([content.location, 'location']) }}

  {{ field_render([content.hosted_by, 'hosted']) }}

  <div class="buttons">

    {{ field_render([content.link, 'link']) }}

  </div>

</div>
