<div class="block-pack-expo-show match-height">

  {{ field_render([content.logo, 'logo']) }}

  {{ field_render([content.dates, 'date']) }}

  {{ field_render([content.location, 'location']) }}

  {{ field_render([content.body, 'block-body']) }}

  {{ field_render([content.button, 'button btn-prm-wrap']) }}

</div>
