<div class="block-social-media-footer">
  <div class="social-links">

    {{ field_render([content.linkedin, 'linkedin fa fa-linkedin', 'span']) }}

    {{ field_render([content.twitter, 'twitter fa fa-twitter', 'span']) }}

    {{ field_render([content.facebook, 'facebook fa fa-facebook', 'span']) }}

    {{ field_render([content.google_plus, 'google-plus fa fa-google-plus', 'span']) }}

    {{ field_render([content.youtube, 'youtube fa fa-youtube', 'span']) }}

    {{ field_render([content.instagram, 'instagram fa fa-instagram', 'span']) }}

  </div>
</div>
